Thumbs.db
.DS_Store
.project
.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.settings
bin
bin-debug
bin-release
html-template
build/build.properties
build/flex-config.xml
reports
